{#<script src="https://cdn.sheetjs.com/xlsx-0.19.3/package/dist/xlsx.full.min.js"></script>#}
<script>
(function() {
  DrupalSheetJs.test();
  console.log('sdklfjsdlkfjkl12123123');
  {% if drupal_sheetjs_config is defined %}
    {% if drupal_sheetjs_config.data is not empty %}
      var table_id = "{{ drupal_sheetjs_config.data.dest_table_id }}";
      var submit_element_id = "{{ drupal_sheetjs_config.data.submit_element_id }}";
      var export_type = "{{ drupal_sheetjs_config.data.export_type }}";
      DrupalSheetJs.currentTableDownload(table_id, submit_element_id, export_type);
    {% endif %}
  {% endif %}
  {% if drupal_sheetjs_config is defined and drupal_sheetjs_config.data is defined %}
    var submit_full_element_id = "{{ drupal_sheetjs_config.data.submit_full_element_id }}";
    var full_data = []
    {% if drupal_sheetjs_config.data.full_data is defined and drupal_sheetjs_config.data.full_data is not empty %}
      full_data = {{ drupal_sheetjs_config.data.full_data|json_encode|raw }}
    {% endif %}
    DrupalSheetJs.fullDataDownload( full_data, submit_full_element_id, export_type );
  {% endif %}
})();
</script>

