{#<script src="https://cdn.sheetjs.com/xlsx-0.19.3/package/dist/xlsx.full.min.js"></script>#}
<script>
(function() {
  console.log('drupal_sheetjs_custom_loader template');
  if (XLSX && XLSX.version) {
    // console.log("SheetJS loaded, version is: ", XLSX.version);
    {% if drupal_sheetjs_config is defined %}
      {% if drupal_sheetjs_config.data is not empty %}
        var dest_table_id = "{{ drupal_sheetjs_config.data.dest_table_id }}";
        var submit_element_id = "{{ drupal_sheetjs_config.data.submit_element_id }}";
        var export_type = "{{ drupal_sheetjs_config.data.export_type }}";
        {#console.log( {{ drupal_sheetjs_config|json_encode|raw }} );#}
        // console.log(dest_table_id, submit_element_id, export_type);
        var subDom = document.getElementById(submit_element_id);
        var elt = document.getElementById(dest_table_id);
        if (subDom && elt) {
          subDom.onclick = function () {
            var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
            XLSX.writeFile(wb, 'SheetJSTableExport.' + export_type )
          }
        }
        else
        {
          // console.log('dom not found');
        }
      {% endif %}
    {% endif %}
  } else {
    // console.log('SheetJS not load');
  }
})();
</script>

