<table class="table table-striped table-bordered" id="{{ drupal_sheetjs_config['data']['dest_table_id'] }}">
  <tbody>
  <tr>
    <td>A1</td>
    <td>B1</td>
    <td>C1</td>
    <td>D1</td>
  </tr>
  <tr>
    <td>data-01-01</td>
    <td>data-01-02</td>
    <td>data-01-03</td>
    <td>data-01-04</td>
  </tr>
  <tr>
    <td>data-02-01</td>
    <td>data-02-02</td>
    <td>data-02-03</td>
    <td>data-02-04</td>
  </tr>
  <tr>
    <td>data-03-01</td>
    <td>data-03-02</td>
    <td>data-03-03</td>
    <td>data-03-04</td>
  </tr>
  </tbody>
</table>

<a
  class="btn btn-primary"
  id="{{ drupal_sheetjs_config['data']['submit_element_id'] }}"
  href="javascript:void(0)"
>
  Export to {{ drupal_sheetjs_config['data']['export_type']|upper }}!
</a>
<a
  class="btn btn-secondary"
  id="{{ drupal_sheetjs_config['data']['submit_full_element_id'] }}"
  href="javascript:void(0)"
>
  Export full data to {{ drupal_sheetjs_config['data']['export_type']|upper }}!
</a>

